._960wide { margin-left: auto; margin-right: auto; width: 960px; min-width: 960px; }
._900wide { margin-left: auto; margin-right: auto; width: 900px; min-width: 900px; }
._fullwide { width: 100%; }

.w20p, .w25p, .w33p, .w40p, .w50p, .w60p, .w66p, .w75p, .w80p, .w100p {
  display:inline;
  float: left;
  position: relative;
  margin-left: 0.5%;
  margin-right: 0.5%;
  overflow: hidden;
}

.A {margin-left: 0;}
.Z {margin-right: 0;}

.w20p {width:19.0%;}
.w25p {width:24.0%;}
.w33p {width:32.3%;}
.w40p {width:39.0%;}
.w50p {width:49.0%;}
.w60p {width:59.0%;}
.w66p {width:65.6%;}
.w75p {width:74.0%;}
.w80p {width:79.0%;}

.w100p {width: 100.0%; margin-left: 0; margin-right: 0;}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}