/* 
/
/ This is a place for your custom styling.
/
*/

.txtc { text-align: center; }
.txtr { text-align: right; }
.txtl { text-align: left; }

.left { float:left; }
.right { float:right; }

.back {
  background-color: #dddddd;
  padding: 5px;
  border: 0px;
  text-align: right;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  line-height: 2em;
}

a.back:hover {
  border: 0px;
}

/*
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('/css/font/League_Gothic-webfont.eot');
    src: url('/css/font/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/font/League_Gothic-webfont.woff') format('woff'),
         url('/css/font/League_Gothic-webfont.ttf') format('truetype'),
         url('/css/font/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

::selection { background:#dddddd; color:#111111; }

html {
  background: url('/images/design-3.png') white no-repeat top;
  font-size: 13px;
  line-height: 20px;
}

html, body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif; color:black;
  padding: 0px;
}

a, a:link, a:visited, a:hover, a:focus { 
  
  color:#666; 
  text-decoration:none; 
  border-bottom: 1px transparent ridge;
  
  transition: color 0.2s linear;
  -moz-transition: color 0.2s linear; 
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
}

a:hover {
  color: #333333; 
  border-bottom: 1px red ridge;
}

a.back {
  font-size: 1.2em;
}

ul { list-style:none; list-style-position:outside; }

nav,h1,h2,h3,h4 { 
  font-family: 'Yanone Kaffeesatz', Helvetica, Arial; 
  font-weight:normal;
  margin: 0;
}

h1 { font-size: 3em; }
h2 { font-size: 2.3em; }
h3 { font-size: 1.5em; }

body > header {
  height: 100px;
  border-bottom: 4px red ridge;
}

body > footer {
  border-top: 4px red ridge;
  margin-bottom: 10px;
}
body > footer .copyright { margin-top: 5px; text-align: center; font-size: 0.9em;}


body > header nav {
  float: right;
  margin-top:20px;
  text-transform:uppercase; 
}

body > header nav.subnav {
  float: right;
  margin-top:10px;
}

body > header nav ul li { 
  float:left; 
  margin-left:20px; 
  position:relative; 
  display:block; 
  font-size:1.8em; 
}

body > header nav.subnav ul li { 
  font-size:1.5em; 
  transition: border-color 0.2s linear;
  -moz-transition: border-color 0.2s linear; 
  -webkit-transition: border-color 0.2s linear;
  -o-transition: border-color 0.2s linear;
}

body > header nav ul li > a { 
  color:#666; 
  text-decoration:none; 
  display:block;  
  border-bottom: 2px transparent ridge;
}

body > header nav ul li > a:visited { color: #666; }
body > header nav ul li > a:link { color: #666; }
body > header nav ul li > a:hover { color: #333333; }

body > header nav ul li:hover > a { 
  border-bottom: 2px red ridge;
}

body > header nav ul li.active > a { 
  color: #333333;
  border-bottom: 2px red ridge;
}

body > header .logo {
  margin-top: 10px;
}

body > article {
  margin: 8px 0;
}

hgroup.tagline {
  background-color: rgba(256,256,256,0.5);
}

hgroup.tagline h2 {
  font-size: 1.3em;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-style: italic;
  margin: 10px 0px;
}




        /*
        body > header nav ul li > a { color:#666; padding-left: 8px; line-height:40px; text-decoration:none; display:block;  }
        body > header nav ul li > a:visited { color: #666; }
	body > header nav ul li:hover > a { color:#d16f4e; }
	body > header nav ul li.current-menu-item > a { color:#d16f4e; }
	body > header nav ul li.current-menu-item > a:hover { color:#d16f4e; }
/* IE7 
body > header > nav li:hover ul { display:block; }
        */


/*.item{
float: left;
margin: 5px;
width: 310px;
background: #EFEFEF;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
text-align: center;
-moz-box-shadow: 0px 0px 6px #999;
-webkit-box-shadow: 0px 0px 6px #999;
box-shadow: 0px 0px 6px #999;
}

.item p{ text-align: left; }
.item p a{ text-align: left; font-weight: bold; }

.item img{ margin-top: 5px; text-align: center; border: 1px solid #000000; max-width: 280px;}

.group:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}*/
