
/* SEMANTIC HELPERS */
.txtc { text-align: center; }
.txtr { text-align: right; }
.txtl { text-align: left; }

.left { float:left; }
.right { float:right; }



html {
  background: url('/images/sitebg.png') white no-repeat top;
  font-size: 13px;
  line-height: 20px;
}

html, body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif; color:black;
  padding: 0px;
}

a, a:link, a:visited, a:active, a:hover, a:focus { 
  color: #05a0fa;
  text-decoration:none;   
  transition: color 0.2s linear;
  -moz-transition: color 0.2s linear; 
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
}

a:hover {
  text-decoration: underline;
}

ul { list-style:none; list-style-position:outside; }

p { text-align: justify; }

nav,h1,h2,h3,h4,h5,h6 { 
  font-family: 'Yanone Kaffeesatz', Helvetica, Arial; 
  font-weight:normal;
  margin: 0;
}

h1 { font-size: 5.0em; }
h2 { font-size: 2.3em; }
h3 { font-size: 1.5em; }


.divider {
  background: url('/images/divider.png') no-repeat;
  height: 3px;
}


/* GLOBAL NAVIGATIONAL STYLE */
nav ul li {
  border: 1px solid transparent;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  
  transition: border-color 0.2s linear;
  -moz-transition: border-color 0.2s linear; 
  -webkit-transition: border-color 0.2s linear;
  -o-transition: border-color 0.2s linear;
  
  transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear; 
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
}

nav ul li a, 
nav ul li a:link,
nav ul li a:visited,
nav ul li a:focus,
nav ul li a:hover,
nav ul li a:active {
  color: #888;
  text-decoration: none;
  display:block;
  padding: 2px 10px;
}

nav ul li a:hover,
nav ul li.active a
{
  color: black;
}

nav ul li:hover {
  background-color: #ffcdcd;
  border-color: #ffa3a3;
  cursor: pointer;
}

nav ul li.active {
  background-color: #ffcdcd;
  border-color: #ffa3a3;
}



/* SITE HEADER & CONTENT & FOOTER STYLES */
body > header {
  height: 100px;
}

body > header nav {
  float: right;
  margin-top:50px;
  text-transform:uppercase; 
}

body > header nav ul li { 
  float:left;
  margin-left:20px; 
  position:relative; 
  display:block; 
  font-size:1.5em; 
}

.logo {
  margin-top: 20px;
}

body > article {
  padding: 10px 0px;
}

body > footer {
  margin-bottom: 10px;
}
body > footer .copyright { margin-top: 5px; text-align: center; font-size: 0.9em;}

/* BUTTONS */
.button, .big_button { border:1px solid #ccc; line-height:20px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer; margin:5px; display: -moz-inline-stack; display: inline-block; font-weight:bold; overflow:hidden; }
.button { padding:5px 12px; opacity: 0.7;}
.big_button { padding:7px 20px; font-size:13px; opacity: 0.7; }

.button:hover, .big_button:hover { text-decoration:none; opacity: 1;}	

.light, .light:link, .light:visited, .light:focus { color:#333; background-color: #e1e1e1; border-color: #bbb; }
.light:hover { color: black; text-decoration:none; }
